<div id="container">
    <div class="profiler-cont">
        <div class="profiler-item" style="border: 2px solid gray;">
            <h4>URI STRING</h4>
            <div class="profiler-content">
                <p><%= profiler_data.uri %></p>
            </div>
        </div>
        <div class="profiler-item" style="border: 2px solid chartreuse;">
            <h4>GET DATA</h4>
            <div class="profiler-content">
                <%
                    for(var key of Object.entries(profiler_data.get_data)){ %>
                        <p><strong><%= key[0] %>: </strong> <%= key[1] %></p>
                <%  } %>
            </div>
        </div>
        <div class="profiler-item" style="border: 2px solid darkcyan;">
            <h4>POST DATA</h4>
            <div class="profiler-content">
                <%
                    for(var key of Object.entries(profiler_data.post_data)){ %>
                        <p><strong><%= key[0] %>: </strong> <%= key[1] %></p>
                <%  } %>
            </div>
        </div>
        <div class="profiler-item" style="border: 2px solid indigo;">
            <h4>SESSIONS</h4>
            <div class="profiler-content">
                <p><strong>Session id: </strong> <%= profiler_data.session_data.session_id %></p>
                <%
                    for(var key of Object.entries(profiler_data.session_data.session.cookie)){ %>
                        <p><strong><%= key[0] %>: </strong> <%= key[1] %></p>
                <%  } %>
            </div>
        </div>
        <div class="profiler-item" style="border: 2px solid fuchsia;">
            <h4>DATABASE</h4>
            <div class="profiler-content">
                <%= "uri" %>
            </div>
        </div>
        <!-- <div class="profiler-item">
            <h4>CLASS METHOD</h4>
            <div class="profiler-content" style="border: 2px solid green;">
                <%= "uri" %>
            </div>
        </div> -->
        <!-- <div class="profiler-item" style="border: 2px solid aqua;">
            <h4>MEMORY USAGE</h4>
            <div class="profiler-content">
                <%= "uri" %>
            </div>
        </div> -->
        <div class="profiler-item" style="border: 2px solid brown;">
            <h4>BENCHMARKS</h4>
            <div class="profiler-content">
                <%= "uri" %>
            </div>
        </div>
    </div>
</div>
<script>

</script>